body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(252, 252, 252);
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 5;
  /* background-color: pink; */
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

#toDraw {
  width: 300px;
  height: 50px;
  background-color: rgb(255, 204, 183);
  display: flex;
  align-items: center;
  padding-left: 1em;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
  border-radius: 0.25em;
}

#rubber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color:rgb(190, 203, 255);
  margin-left: 1em;
  border-radius: 0.25em;
}

#canvas {
  border-radius: 1em;
  border: 1px, solid rgb(226, 226, 226);
  background-color: white
}

#result_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#prediction {
  width: 300px;
  height: 50px;
  background-color: rgb(255, 204, 183);
  display: flex;
  align-items: center;
  padding-left: 1em;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  color: rgb(100, 100, 100);
  border-radius: 0.25em;
}